doctype html
html
  head
    title= Wierzba
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/weather-icons.css")
    script(src="js/jquery.js")
    script(src="js/main.js")
  body

    .top.left
      .date.small.dimmed
      .time

    .top.right
      .city.small.dimmed
      .windsun.small.dimmed
      .temp
      .forecast.small.dimmed

    .center-ver.center-hor
      .remainder.light

    .bottom.center-hor
      .news.medium
