body {
  padding: 0px;
  background-color: #000;
  color: #FFF;
}
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

div.weather {

}

div.calendar {

}

div.time{

}

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #CCCCCC;

  font: 42px sans-serif;
  text-align:center;
}
